$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url("https://drive.google.com/uc?id=13LVjM6Y8fPS8C9nxEMHHr7GUOAJR9jWi");
  font-family: 'Hind Siliguri', sans-serif;
}

.creates {
  border-bottom: 0;
}

#deletes {
  border: 0;
  text-align: center;
}

div {
  border: 2px solid black;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 45%;
  z-index: 1;
  background-color: white;
}

.form-group {
  border: 0;
  text-align: center;
}

h1 {
  border-bottom: 8px double;
  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  width: 40%;
}

.prompt-div {
  font-size: 16px;
  height: 150px;
  text-align: center;
}

.show-songs {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 0;
  border-top: 0;
  height: 90px;
  padding-top: 20px;
}

.song-bars {
  border: 0;
  margin: 0 auto;
  text-align: center;
  width: 45%;
}
