$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

div {
  border: 2px solid black;
  font-family: "Helvetica", sans-serif;
  margin: 0 auto;
  padding: 20px;
  width: 45%;
  z-index: 1;
}
h1 {
  text-align: center;
}
.prompt-div {
  font-size: 16px;
  height: 250px;
  text-align: center;
}
.song-bars {
  margin: 0 auto;
  text-align: center;
  width: 45%;
}
