$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #e6e6fa
  url(https://drive.google.com/uc?id=1D0on4F0AI3_-IKPV8nA8r6PRpqqvIZ80);
  padding: 0;
}

.container-fluid {
  padding: 0;
}

footer {
  background-color: rgba(66, 244, 200, 0.6);
  bottom: 0;
  font-family: pacifico, cursive;
  height: auto;
  margin: 0;
  padding: 0;
  position: static;
  text-align: center;
  width: 100%;
}

.iconz {
  display: inline-block;
  height: auto;
  margin-right: 30px;
  padding-top: 5px;
  width: 25px;
}

.iconz:hover {
  cursor: url(http://cur.cursors-4u.net/nature/nat-11/nat1034.ani);
   // url(http://cur.cursors-4u.net/nature/nat-11/nat1034.gif), progress !important;
}

iframe {
  padding-top: 5px;
}

#delete-song{
  text-align: center;
}

#update-song{
  text-align: center;
}

.form-group {
  border: 0;
  text-align: center;
}

.form-message {
  border: 0;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 30%;
  height: auto;
}

#password-message {
  border: 0;
}

.prompt-div {
  border-radius: 5px;
  font-size: 16px;
  height: 150px;
  text-align: center;
  line-height: 32px;
  padding-bottom: 30px;
}

.show-songs {
  border-bottom: 0;
  border-top: 0;
  height: 90px;
  padding-top: 20px;
}

.song-bars {
  border: 0;
  margin: 0 auto;
  text-align: center;
  width: 45%;
}

.song-message {
  border: 0;
}

.updates {
border: 0;
overflow-wrap: word-break;
text-align: center;
width: 150px;
}

.auth-container {
  background: url(https://drive.google.com/uc?id=1pn2eTB97Jc8DGa4gSgxbHN5ImQ6vfFKJ);
  border-top: 7px #f7f4ea;
  bottom: 0;
  height: auto;
  margin: 0 auto;
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 0;
  position: static;
}

.card first {
  padding-top: 10px;
}

.card last {
  padding-bottom: 10px;
}

.card {
  background: #ffffff;
  border: 4px #000000;
  border-radius: 3px;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  width: 30%;
}

.card a {
  color: #000000;
}

button[type=submit] {
  background: rgba(66, 244, 200, 0.6);
  border: 0;
  height: 35px;
  border-radius: 10px;
  padding-bottom: 12px;
}

.log-in-stuff input {
  background: transparent;
  border: 0;
  font-family: 'Rajdhani', sans-serif;
  outline: 0;
  margin-right: 20px;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 200px;
}

.log-in-stuff input last {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

// .log-in-stuff {
//   background: #ffffff;
//   border-radius: 8px;
//   display: block;
//   margin: 0 auto;
//   padding: 20px;
//   text-align: center;
//   width: 20%;
// }

button[type=submit]:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-11/nat1034.ani), url(http://cur.cursors-4u.net/nature/nat-11/nat1034.gif), progress !important;} /* End http://www.cursors-4u.com */
